<script type="text/ng-template" id="tpl.student.add">
    <form name="form" class="form-horizontal" data-ng-submit="create()" >
        <h1>{{ title }}</h1>
        @Html.Partial("_tpl.student.form")
        <div class="col-md-12">
            <input type="submit" value="Save" class="btn btn-primary" ng-disabled="form.$untouched || form.$invalid"/>
            <button class="btn btn-default" ng-click="back()">Cancel</button>
        </div>
    </form>
</script>