@model AugularJsFrameworkDemo.Areas.Students.Models.StudentsHomeViewModel
@{
    ViewBag.Title = "View";
    ViewBag._NgAppModule = "demo";
    Layout = "~/Views/Shared/_LayoutNg.cshtml";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div data-ui-view="">
            </div>
        </div>
    </div>
</div>
@section GlobalScripts
{
    <script>
        (function (window) {
            window.ephemeral = window.ephemeral || {};
        }(this.window));
    </script>

}
@section NgScripts
{
    @Scripts.Render("~/js/app-students")
}

@section NgTemplates
{
    @Html.Partial("_tpl.student.view")
}